body {
	background-image: url("../img/background.jpg"); /* The image used for background */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* resize the background image to cover te entire container */
}

img.img_logo {
	display: inline;
	size: 50%;
	margin: auto;
}

div.upload_box {
	width: 25%;
	height: auto;
	margin: auto;
}

div.login_box {
	width: 50%;
	height: auto;
	margin: auto;
}